body {
    font-family: Arial;
    text-align: center;
    background: url("BG.png") repeat-x;
    background-size: 820px auto; /* width 200px, height auto */
    margin: 0;
    color: white;
}




.game-container {
    width: 1000px;
    margin: auto;
    background: rgba(2, 52, 55, 0.6);
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
}

.game-area {
    width: 100%;
    height: 500px;
    position: relative;
    background: rgba(26, 9, 92, 0.1);
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 10px;
}

.player {
    width: 100px;
    position: absolute;
    bottom: 5px;
    left: 180px; /* center */
    transition: left 0.1s;
}

.egg {
    width: 30px;
    position: absolute;
    top: 0px;
}

.start-btn {
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.game-over {
    font-size: 50px;
    color: rgb(186, 113, 11);
    font-weight: bold;
    margin-top: 10px;
}


